.bttn-white,.bttn-brand,.bttn-green,.bttn-red {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 21.09px;
    font-size: 18px;
    padding: 5px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bttn-white {
    color: var(--brand100);
    border: 1px solid var(--brand100);
}

.bttn-white:hover {
    background-color: var(--brand900);
}

.bttn-brand {
    color: var(--white);
    background-color: var(--brand100);
    border: 1px solid var(--brand100);
}

.bttn-brand:hover {
    background-color: var(--brand200);
}

.bttn-green {
    color: var(--white);
    background-color: var(--green);
    border: 1px solid var(--green);
}

.bttn-red {
    color: var(--red);
    border: 1px solid var(--red);
}